body {
    background-color: black;
    color: white; /* Ensures text is readable on black */
    min-height: 100vh; /* Full viewport height coverage */
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* Sets a default font */
    justify-content: center;
}

